trigger:
- master

pool:
  name: 'Dev-Server'

stages:
  - stage: Download
    displayName: Download
    jobs:
      - job: Download
        displayName: Download
        steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: |
                git clone https://github.com/Rahul917797/maven3.git

  - stage: Build
    displayName: Build
    jobs:
      - job: Build
        displayName: Build
        steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: |
                cd /home/azureuser/myagent/_work/2/s
                mvn package
                cp webapp/target/webapp.war /home/azureuser/myagent/_work/2/s

          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: /home/azureuser/myagent/_work/2/s/webapp.war
              artifact: webapp

  - stage: CreateDockerFileandImage
    displayName: CreateDockerFile
    jobs:
      - job: CreateDockerFileand
        displayName: CreateDockerFileand
        steps:

          - task: DownloadPipelineArtifact@2
            inputs:
              artifact: webapp
              path: /home/azureuser/myagent/_work/2/s

          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: |
                cat <<EOF > /home/azureuser/myagent/_work/2/s/Dockerfile
                FROM tomee
                COPY webapp.war /usr/local/tomee/webapps/testapp.war
                EOF

  - stage: BuilDockerImage
    displayName: BuilDockerImage
    jobs:
      - job: BuilDockerImage
        displayName: BuilDockerImage
        steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: |
                cd /home/azureuser/myagent/_work/2/s
                docker build -t myreg1241.azurecr.io/tomcat .

  - stage: PushDockerImage
    displayName: PushDockerImage
    jobs:
      - job: PushDockerImage
        displayName: PushDockerImage
        steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: |
                docker push myreg1241.azurecr.io/tomcat

  - stage: DeployToQA
    displayName: DeployToQA
    jobs:
      - job: DeployToQA
        displayName: DeployToQA
        steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: |
                ssh azureuser@64.236.154.57 docker run --name tomcat -d -P myreg1241.azurecr.io/tomcat 

  - stage: DeployToAKS
    displayName: DeployToAKS
    jobs:
      - job: DeployToAKS
        displayName: DeployToAKS
        steps:
          - task: KubernetesManifest@1
            inputs:
              action: 'deploy'
              connectionType: 'azureResourceManager'
              azureSubscriptionConnection: 'DevOps-Subscription(5c3a765e-61bc-495a-a7de-9e0bef10c572)'
              azureResourceGroup: 'myresource'
              kubernetesCluster: 'cluster'
              manifests: 'myapp.yaml'