# Starter pipeline
trigger:
- master

pool:
  name: 'Dev-Server'

stages:
- stage: Download
  displayName: Download
  jobs:
  - job: Download
    displayName: Download
    steps:
    - task: Bash@3
      inputs:
        targetType: inline
        script: 'git clone https://github.com/Rahul917797/maven.git /home/azureuser/myagent/_work/1/s'

- stage: Build_with_Maven
  displayName: Build with Maven
  jobs:
  - job: Build
    displayName: Build with Maven
    steps:
    - task: Bash@3
      inputs:
        targetType: inline
        script: 'cd /home/azureuser/myagent/_work/1/s; mvn package'

- stage: CreateDockerfile
  displayName: CreateDockerfile
  jobs:
  - job: CreateDockerfile
    displayName: CreateDockerfile
    steps:
    - task: Bash@3
      inputs:
        targetType: inline
        script: |
          cp /home/azureuser/myagent/_work/1/s/webapp/target/webapp.war /home/azureuser/myagent/_work/1/s
          cat <<EOF > /home/azureuser/myagent/_work/1/s/Dockerfile
          FROM tomee
          COPY webapp.war /usr/local/tomee/webapps/test.war
          EOF

- stage: CreateDockerImage
  displayName: CreateDockerImage
  jobs:
  - job: CreateDockerImage
    displayName: CreateDockerImage
    steps:
    - task: Bash@3
      inputs:
        targetType: inline
        script: 'cd /home/azureuser/myagent/_work/1/s; docker build -t myreg1241.azurecr.io/tomcat .'
