trigger:
- master

pool:
  name: 'Dev-Server'

stages:
  - stage: Download
    displayName: Download
    jobs:
      - job: Download
        displayName: Download
        steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: 'git clone https://github.com/Rahul917797/maven3.git'

  - stage: Build
    displayName: Build
    jobs:
      - job: Build
        displayName: Build
        steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: 'cd /home/azureuser/myagent/_work/2/s;mvn package'

          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: 'cp /home/azureuser/myagent/_work/2/s/webapp/target/webapp.war /home/azureuser/myagent/_work/2/s'

  - stage: CreateDockerFileandImage
    displayName: CreateDockerFile
    jobs:
      - job: CreateDockerFileand
        displayName: CreateDockerFileand
        steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: |
                cat <<EOF > /home/azureuser/myagent/_work/2/s/Dockerfile
                FROM tomee
                COPY webapp.war /usr/local/tomee/webapps/testapp.war
                EOF

  - stage: BuilDockerImage
    displayName: BuilDockerImage
    jobs:
      - job: BuilDockerImage
        displayName: BuilDockerImage
        steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: 'cd /home/azureuser/myagent/_work/2/s;docker build -t myreg1241.azurecr.io/tomcat .'


  - stage: PushDockerImage
    displayName: PushDockerImage
    jobs:
      - job: PushDockerImage
        displayName: PushDockerImage
        steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: 'docker push myreg1241.azurecr.io/tomcat'
