trigger:
- master

pool:
  name: 'Dev-Server'

stages:
  - stage: Download
    displayName: Download
    jobs:
      - job: Download
        displayName: Download
        steps:
          - task: Bash@3
            displayName: Clone code from github
            inputs:
              targetType: 'inline'
              script: 'git clone https://github.com/Rahul917797/maven.git'
    
  - stage: Build
    displayName: Build
    jobs:
      - job: Build
        displayName: Build
        steps:
          - task: Bash@3
            displayName: Build with Maven
            inputs:
              targetType: inline
              script: 'cd /home/azureuser/myagent/_work/2/s;mvn package'

          - task: Bash@3
            displayName: Build with Maven
            inputs:
              targetType: inline
              script: 'cp /home/azureuser/myagent/_work/2/s/webapp/target/webapp.war /home/azureuser'
  
  - stage: CreateDockerfile
    displayName: CreateDockerfile
    jobs:
      - job: CreateDockerfile
        displayName: CreateDockerfile
        steps:
         - task: Bash@3
           displayName: Create Docker file
           inputs:
             targetType: inline
             script: |
               cat << EOF > Dockerfile
               FROM tomee
               COPY /home/azureuser/webapp.war /usr/local/tomee/webapps/myapp.war
               EOF
  
  
  
  