# Starter pipeline
trigger:
- master

pool:
  name: 'Dev-Server'

stages:
- stage: Download
  displayName: Download
  jobs:
  - job: Download
    displayName: Download
    steps:
    - task: Bash@3
      inputs:
        targetType: inline
        script: 'git clone https://github.com/Rahul917797/maven.git'

- stage: Build_with_Maven
  displayName: Build with Maven
  jobs:
  - job: Build
    displayName: Build with Maven
    steps:
    - task: Bash@3
      inputs:
        targetType: inline
        script: 'cd /home/azureuser/myagent/_work/2/s;mvn package'

- stage: CreateDockerfileandImage
  displayName: CreateDockerfileandImage
  jobs:
  - job: CreateDockerfile
    displayName: CreateDockerfile
    steps:
    - task: Bash@3
      inputs:
        targetType: inline
        script: |
         
          cp /home/azureuser/myagent/_work/2/s/webapp/target/webapp.war .
          cat <<EOF > Dockerfile
          FROM tomee
          COPY webapp.war /usr/local/tomee/webapps/test.war
          EOF

    - task: Bash@3
      inputs:
        targetType: inline
        script: 'docker build -t myreg1241.azurecr.io/tomcat .'
          

  
