trigger:
- master

pool:
  name: 'Dev-Server'

stages:
  - stage: Download
    displayName: Download
    jobs:
      - job: Download
        displayName: Download
        steps:
          - task: Bash@3
            inputs:
             targetType: 'inline'
             script: 'git clone https://github.com/Rahul917797/maven3.git'
  
  - stage: Build
    displayName: Build
    jobs:
      - job: Build
        displayName: Build
        steps:
          - task: Bash@3
            inputs:
             targetType: 'inline'
             script: 'cd /home/azureuser/myagent/_work/2/s;mvn package'
          - task: Bash@3
            inputs:
             targetType: 'inline'
             script: 'cp /home/azureuser/myagent/_work/2/s/webapp/target/webapp.war /home/azureuser'
  
  - stage: CreateDockerFileandImage
    displayName: CreateDockerFile
    jobs:
      - job: CreateDockerFileand
        displayName: CreateDockerFileand
        steps:
          - task: Bash@3
            inputs:
             targetType: 'inline'
             script: |
               cat <<EOF > dockerfile
               FROM tomee
               COPY webapp.war /usr/local/tomee/webapps/testapp.war
               EOF
          - task: Bash@3
            inputs:
             targetType: 'inline'
             script: 'cp /home/azureuser/myagent/_work/2/s/dockerfile /home/azureuser'
  
  - stage: BuilDockerImage
    displayName: BuilDockerImage
    jobs:
      - job: BuilDockerImage
        displayName: BuilDockerImage
        steps:
          - task: Bash@3
            inputs:
             targetType: 'inline'
             script: 'cd /home/azureuser;docker build -t myreg1241.azurecr.io/tomcat .'